body{
    background-color: #191919;
    display: flex;
    justify-content: center;
    background-image: url(./img/calculator-background-9idet8pma9adeqd5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    display: flex;
    justify-content: center;
    color:rgb(118, 62, 10);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 30px;
}
#Num1{
    padding: 10px 60px 10px 60px;
}
#Num2{
    padding: 10px 60px 10px 60px;
    margin-top: 3px;
}
button{
    padding: 10px 60px 10px 60px;
    margin: 6px 0px 0 65px;
    background-color: rgb(118, 62, 10);
    border: 2px solid rgb(118, 62, 10);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.mainbody{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    gap: 5px;
}
p{
    color: white ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.bigdiv{
    padding: 15px 5px 15px 5px;
    border: 1px solid white;
    width: 600px;
    /* From https://css.glass */
background: rgba(133, 28, 124, 0.548);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.5px);
-webkit-backdrop-filter: blur(4.5px);
border: 1px solid rgba(243, 248, 249, 0.548);

}